<ul class="buttons" (click)="calcClicked($event)">
    <li><button class="clear" value="c">C</button></li>
    <li><button class="val" value="%">%</button></li>
    <li><button class="val" value="/">&divide;</button></li>
    <li><button class="val" value="*">&times;</button></li>
    <li><button class="val" value="7">7</button></li>
    <li><button class="val" value="8">8</button></li>
    <li><button class="val" value="9">9</button></li>
    <li><button class="val" value="-">-</button></li>
    <li><button class="val" value="4">4</button></li>
    <li><button class="val" value="5">5</button></li>
    <li><button class="val" value="6">6</button></li>
    <li><button class="val" value="+">+</button></li>
    <li><button class="val" value="1">1</button></li>
    <li><button class="val" value="2">2</button></li>
    <li><button class="val" value="3">3</button></li>
    <li><button class="equal tall" value="=">=</button></li>
    <li><button class="val wide shift" value="0">0</button></li>
    <li><button class="val shift" value=".">.</button></li>
</ul>