<div class="wrap">
  <div class="cal">
    <ul class="ctrls">
      <li class="close"><a href="#"></a></li>
      <li class="min"><a href="#"></a></li>
      <li class="max"><a href="#"></a></li>
    </ul>
    <span class="title">Calculator</span>
   <app-display></app-display>    
   <app-nums></app-nums>
  </div>
</div>