/* You can add global styles to this file, and also import other style files */
body{
  	color:#c0c0c0;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	font-size:100%;
	letter-spacing: 1.2px;
}
*:focus {
    outline: none;
}
.wrap{
	width:480px;
	margin:50px auto 0;
	position: relative;
}
.resultDisplay{
	position: absolute;
    left: 45px;
	top: 53px;
	color: #716969;
}
.cal{
	width:480px;
	height:auto;
	padding:10px 0;
	margin: auto;
	background:#232323;
	border:#000 1px solid;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
	-webkit-box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
	-moz-box-shadow:rgba(0,0,0,0.4) 0px 2px 5px, inset rgba(255,255,255,0.9) 0px 1px 1px -1px;
	overflow: hidden;
	text-align: center;
}
.screen{
	width:424px;
	height:93px;
	margin: 12px auto 30px;
	padding:15px 20px;
	color:#c0c0c0;
	text-align: right;
	font-size: 3em;
	letter-spacing: 3px;
	overflow:hidden;
	border:#000 1px solid;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	box-shadow:inset rgba(0,0,0,1) 0px 1px 4px, inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
	-webkit-box-shadow:inset rgba(0,0,0,1) 0px 1px 4px, inset rgba(225,225,225,0.3) 0px -2px 4px -2px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.title{
	font-size: 1.2em;
}
.buttons{
	padding:0;
	width:423px;
	margin:auto;
	overflow: hidden;
	list-style: none;
}
.buttons li{
	display:inline;
	float:left;
	padding:0px;
	margin-right:13px;
	margin-bottom:10px;
}
/* remove margin-right on every fourth button */
.buttons li:nth-child(4n){
	margin-right:0;
}

.buttons button{
	display:block;
	width:95px;
	height:68px;
	padding:18px 0 12px;
	color:#c0c0c0;
	font-family: "Myriad Pro", Arial, sans-serif;
	font-size:1.6em;
	font-weight: 500;
	letter-spacing: -2px;
	background-color:#2f2f2f;
	border: #000 1px solid;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-align: center;
	text-decoration: none;
	text-shadow:#000 0px -1px 0px;
	box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	-webkit-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	-moz-box-shadow: inset rgba(255,255,255,0.1) 0px 1px 0px, inset rgba(0,0,0,0.2) 0px -2px 2px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	cursor: pointer;
}
.buttons button:active{
	box-shadow: inset rgba(0,0,0,0.5) 0px 2px 8px;
}
/* tall = button */
.tall{height:151px !important;}
/* Wide 0 */
.wide{width:205px !important;}
/* shift last row up, because the tall button pushes it down */
.shift{margin-top:-78px;}


/* close, min, max buttons */
.ctrls{
	list-style: none;
	margin:5px 0 0 20px;
	padding:0;
	position: absolute;
}
.ctrls li{
	float:left;
	display:inline;
}
.ctrls li a{
	display: block;
	width:18px;
	height:18px;
	margin-right:10px;
	border-radius:100%;
	box-shadow:rgba(255,255,255,0.3) 0px 0px 1px, inset rgba(0,0,0,1) 0px 1px 2px 1px;
}
.close a{
	background-color:#f32c31;
	
}
.min a{background-color:#f7bf67;}
.max a{background-color:#89cb5a;}
.h1{
	text-align: center;
	color:#fff;
	font-weight: 400;
	font-size: 4em;
	line-height: 0;
	margin-top:80px;
	margin-bottom:-60px;
	text-shadow:#000 0px -1px 0px;
}
p{
	color:#fff;
	text-shadow: #999 0px -1px 0px;
	font-size:1.2em;
	line-height: 2em;
}
a{
	color:#953b3b;
}